/* Start Defining Variables */
:root {
    --main-color: #2196F3;
    --main-font-color: #000;
    --secondry-font-color: #777777;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --secondry-bg-color: #ececec;
}

/* End Defining Variables */


/* Start Global rules */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Cairo, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

/* small screens */

@media (min-width:768px) {
    .container {
        width: 750px;
    }

}

/* medium screens */
@media (min-width:992px) {
    .container {
        width: 970px;
    }

}

/* large screens */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }

}

/* End Global rules */

/* Start Main Design Components  */
.special-title {}

/* End Main Design Components  */

/* Start Header Styling */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container a.logo {
    color: var(--main-color);
    font-weight: 800;
    font-size: 30px;
}

header .container ul {
    display: flex;
}


header .container ul li.main a.main {
    position: relative;
    font-size: 18px;
    padding: 20px 20px;
    display: block;
}

header .container ul li.main a.main::after {
    content: "";
    width: 0px;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

header .container ul li.main:hover a.main {
    color: var(--main-color);
}

header .container ul li.main:hover {
    background-color: var(--secondry-bg-color);
}

header .container ul li.main:hover a.main::after {
    width: 100%;
}

@media (max-width:768px) {

    header .container {
        flex-direction: column;
    }

    header .container ul li.main a.main {
        padding: 10px 10px;
        font-size: 14px;
    }

    header .container a.logo {
        padding: 20px 20px 10px 20px;
    }
}



/* Start Other Links list  */

.other-links {
    position: absolute;
    width: 100%;
    right: 0px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    opacity: 0;
}

.other-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 20px;
}

.other-links ul li {
    width: calc((100% - 40px)/2);
    padding: 10px;
    border-bottom: 1px solid #DDD;
    position: relative;
}

.other-links ul li::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    left: 0px;
    top: 0px;
    background-color: var(--secondry-bg-color);
    z-index: -1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.other-links ul li:hover::after {
    width: 100%;
}

.other-links ul li a {
    color: var(--main-color);
    font-weight: 800;
}

.other-links ul i {
    color: var(--main-color);
    padding-right: 20px;
    width: 30px;
}

header .container ul li.last:hover .other-links {
    z-index: 100;
    opacity: 1;
}

@media (max-width:768px) {
    .other-links ul {
        flex-direction: column;
    }

    .other-links ul li {
        width: 100%;
    }
}

@media (max-width:992px) {
    .other-links img {
        display: none;
    }

    .other-links ul {
        width: 100%;
    }
}

/* End Other Links list  */
/* End Header Styling */